*{
    margin:0;
    padding:0;
    box-sizing: border-box; /* to box model*/
}
/*Global*/
body
{
    font-family:Merriweather,monospace;
    background-color: #ebf2ff;
    overflow-x:hidden;
}

.button__primary{
    background-image: linear-gradient(
        to right,
        #ff512f ,
        #dd2476  ,
        #ff512f 
 ); 
 color:#fff;
 padding: 12px;
 border:none;
 border-radius:6px;
 cursor: pointer;

}
.container{
    width:100%;
    margin:0 auto;
    padding:0 15px;
}
.navbar{
    display:flex;
    justify-content:space-around;
    align-items:center;

}
.navbar__brand{
    width: 80px;
}
.navbar__logo{
    width:100%;
}
.hero__container{
    width:100%;
    
}
.hero__image__container{
    width:100%;
}
.hero__image{
    width:100%;
}
.hero__text{
    font-size:30px;
    color:#1d3557;
    margin:20px 0;
}
/* Menu Style*/
.food_menu_card{
    width:100%;
    background-color: #fff;
    border-radius:8px;
    margin-bottom:15px;
    
}
.explore_menu_container{
    margin-top: 50px;
}
.explore_menu_view_more{
    display:flex;
    justify-content: center;
}
.explore_menu_text{
    font-size:30px;
    color:#1d3557;
    margin:20px 0; 
    text-align: center;  
}
.food_image{
    width:100%;
    border-radius:8px 8px 0 0;
}

.food_menu_card_description{
    padding:20px;
}
/*Flex*/
.restaurants_description{
    font-size:30px;
    color:#1d3557;
    margin:20px 0; 
    text-align: center; 

}
.restaurants_flex_row_two,
.restaurants_flex_row_one{
    width:100%;
    display:flex;
    gap:4px;
}
.restaurant_1_image,
.restaurant_2_image,
.restaurant_3_image,
.restaurant_4_image{
    width:100%;
    height:100%;
    border-radius: 7px;
}

.restaurant_1,
.restaurant_4{
    width:100%;
    height:150px;

}

.restaurant_2,
.restaurant_3{
    width: 120%;
    height: 200px;
}
.restaurants_flex_row_one{
    align-items:baseline;
    margin-bottom: 4px;
}







@media (min-width:768px){
    .navbar{
        justify-content: space-between;
        padding: 10px 20px; /*top&bottom right&left*/
    }
    .navbar__brand{
        width:150px;
    }
    .button__primary{
        padding: 12px 20px;
        font-size:20px;

    }
    .hero__container{
        display:flex;
        flex-direction:row-reverse;
        align-items: center;
        justify-content: space-between;
        gap:10px;
        padding: 0 50px;
    }
    .explore_menu_container{
        position:relative;
    }
    .explore_menu_gradientbg
    {
        position:absolute;
        left:0;
        top:0;
        height:100%;
        width:100%;
        background-image: linear-gradient(
        to right,
        #ff512f ,
        #dd2476  ,
        #ff512f 
 ); 
 z-index: -3;
 transform: skewY(-5deg);
    }
    .pink_bg
    {
        
        position:absolute;
        left:530px;
        top: 110px;
        height:65%;
        width:50%;
        z-index: -3;
        
    }

    .explore_menu_lists{
        margin-top: 50px;
        display: flex;
        gap: 8px;
    }
    #pizza_card{
        margin-top: -20px;
        margin-bottom: 30px;
    }
    .restaurants_description{
    font-size:50px;
    } 
    .restaurants_container{
        display:flex;
        align-items:center;
        justify-content: space-between;
    }
    .restaurant_flex{
        width:100%
    }


    
}


@media (min-width:1020px){
    .container{
        max-width:900px;
    }
    
    .hero__description{
        width:100%
    }
    .hero__text{
        font-size:50px;
    }
    .explore_menu_lists{
        gap:20px;
        padding:0 20px;
        
    }
    .explore_menu_text{
        font-size: 50px;
    }
    .restaurants_container{
        margin-top: 30px;
    }

}
@media (min-width:1400px){
    .container{
        max-width: 1250px;
    }
    

}